
body {
    background-image: url('images/bgp.jpg');
    font-family: 'Fauna One', serif;
    background-size: 100%;
}
.word {
    color: white;
  }
.heads{
    border-top-width: 10px;
    padding-top: 0px;
    margin-top: 60px;
    position: relative;
    height: 94vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: "Courier New", Courier, monospace;
    color: white;

}

.blink {
    animation: blinker 5s linear infinite;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: white; /* Color of the cursor */
    animation: blink-animation 1s infinite step-start;
  }
  
  @keyframes blink-animation {
    50% {
      opacity: 0;
    }
  }

  

.navbar {
    font-style: italic;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    right:0%;
    left:0%;
    width: 100%;
    z-index: 1000; /* Ensures the navbar appears above other elements */
    backdrop-filter: blur(4px);
    font-weight: bold;
    color:blanchedalmond;
    
}
.navbar a:hover {
    background: white;
    color: black;
    transition: all 0.1s ease;
    border-radius: 50%;
    opacity: 50%;
  }
.navleft{
    float: right;
    padding: 0px 20px;
}
.navbar a{
    text-decoration: none; /*This will remove the underline for the link in the a tags only for the navbar*/
    color: rgb(113, 35, 186);
}
.intro{
    font-size: 16px;
    text-align: justify;
}
.mypic{
    width: 33%;
    text-align: center;   
}

.imgg{
    
    height: auto;
    max-width: 70%;
    border-radius: 8px; 
}

.mystory
{
    width: 66%;
    padding-left: 20px;
}

.myContainer{
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
}

.myContainer1{
    display: flex;
    justify-content: center;
}

.footStyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    text-align: center;
    position:sticky;
    padding: 10px 0px;
    
}

.footimages{
    width: 20px;
    height:20px;
    margin-right: 10px;
    text-align: center;    
}

footer, section, .sections{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.3px;
    
}

footer:nth-child(odd) , section:nth-child(odd) {
    background-color: rgba(206,203,203,0.5);
    backdrop-filter: blur(18px);
}
footer:nth-child(even), section:nth-child(even){
    background-color: rgba(206,203,203,0.5);
    backdrop-filter: blur(18px);

}

.sections:nth-child(odd){
    background-color: rgba(206,203,203,0.5);
    backdrop-filter: blur(4px);
}
.sections:nth-child(even){
    background-color: rgba(206,203,203,0.5);
    backdrop-filter: blur(4px);
}

h4 a{
color: rgb(2, 17, 20)
}

li{
    padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    .intro {
    padding: 10px;
    font-size: 12px;
    }

    p{
        font-size: 8px;
    }

    .heads h1, 
    .heads h2 {
        font-size: 25px !important;
    }


    .sections h3,
    .sections h4,
    .sections li{
        font-size: 12px !important;
    }
    
    .navleft{
        padding: 0px 5px;
        font-size: 12px;
    }
    
    .blink{
        font-size: 10px;
    }

    .footStyle p{
        font-size: 10px !important;
    }

    section h2{
        font-size: 20px !important;
    }
  }