
body{
    background-image: url("backgroundImage.jpg"); 
    background-color: #e7ebef;
}
h1, h3{
    text-align: center;
}
.navbar{
    background-color:rgb(47, 245, 12);
    font-style: italic;
}
.navbar a:hover {
    background: white;
    color: black;
  }
.navleft{
    float: right;
    padding: 0px 5px;
}
.navbar a{
    text-decoration: none; /*This will remove the underline for the link*/
}
.intro{
    font-size: 20px;
    text-align: justify;
}
.mypic{
    width: 33%;
    height: 100%;
    padding-right: 10px;
    object-fit: contain;
}
.mystory
{
    width: 66%
}
.myContainer{
    display: flex;
}

.myContainer1{
    display: flex;
    justify-content: center;
}

.footStyle{
    background-color: cyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    text-align: center;
    position:sticky;
    padding: 10px 0px;
}

.footimages{
    width: 20px;
    height:20px;
    margin-right: 10px;
    text-align: center;    
}